body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -200px; 
    width: 200px;
    background-color: #333;
    color: white;
    padding: 15px;
    height: 100vh;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar:hover {
    left: 0; 
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 50px; /* Ajuste o tamanho da imagem */
    height: 50px; /* Ajuste o tamanho da imagem */
    border-radius: 50%; /* Faz a imagem ser circular */
    margin-right: 10px; /* Espaçamento entre a imagem e o nome */
}

.hidden {
    display: none; /* Classe para ocultar elementos */
}

.sidebar h2 {
    color: #fff;
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #17e555;
}

.content {
    padding: 20px;
    margin-left: 60px;
    flex: 1;
}

#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#theme-toggle:hover {
    background-color: #444;
}

body.light-mode #theme-toggle {
    background-color: #333;
    color: #fff;
}

body.dark-mode #theme-toggle {
    background-color: #f0f0f0;
    color: #333;
}
